.third_page_global_conteiner {
  width: 97%;
  height: 715px;
  background-image: url("../../../../public/image/Group\ 638.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 3% 0 0 3%;
  overflow: hidden;
}
